@charset "utf-8";
/* CSS Document */

/*IE, coc coc, chorme...*/
*{
 padding:0px;
 margin: 0px;
}
#body{
width:1000px;
/*margin:1024px;*/  
}

#main{
	width: 1000px;
	margin: 0 auto;

}
#head{
	height: 120px;
	background: #0b577a;
	color: #fff;
}

#menutop{
height: 35px;
width: 1000px;
text-align:center;
background-color: #036ea0;
color:#fff ;
}

#maincontent{
	float:right;
	width: 100%; 
}

#content{
	margin-right: 300px;
	background: #f1f9fd;
	
}
list-style-type: none;
float: left;
width: 140px;
text-align:center;
}

#menu ul li a{
text-decoration: none;
color:#FFFFFF;
}
#menu ul li a:hover{
color: #999999;
}
#menu img{
float: left;
}

#wrapper{
height: 800px;
color: #00FFFF;
text-align: left;
}
#bottom{
height:40px;
width:1024px;
text-align:center;
background: #FF0000;
}