@charset "utf-8";
/* CSS Document */

/*IE, coc coc, chorme...*/
*{
 padding:0px;
 margin: 0px;
}
#body{
width:1024px;
/*margin:1024px;*/  
}
#Banner{
text-align:left;
width:1024px;
}

#menu{
height: 30px;
width: 1024px;
text-align:center;
background-color: #FF0000;
line-height: 40px;
}
#menu ul li{
list-style-type: none;
float: left;
width: 140px;
text-align:center;
}

#menu ul li a{
text-decoration: none;
color:#FFFFFF;
}
#menu ul li a:hover{
color: #999999;
}
#menu img{
float: left;
}

#wrapper{
height: 800px;
color: #00FFFF;
text-align: left;
}
#bottom{
height:40px;
width:1024px;
text-align:center;
background: #FF0000;
}